@import "tailwindcss";

@theme {
  --color-netflixRed: #E50914;
}

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
